<header>Extend Text Reset Form</header>
<form name="extendTextResettable" nag-resettable-form>
  {{ $id }}
  <ul>
    <li nag-input-element="firstName" data-id="first-name-wrapper">
      <label for="first-name">
        First Name:
        <div nag-input-element-validation></div>
      </label>
      <div nag-extend-text="firstNameOptions"
           data-attributes="nag-validate-required;nag-validate-range-length::{min: 1, max: 10}"
           data-id="first-name"
           data-model="extendTextResettableObject"
           data-model-property="firstName"
           data-input-name="firstName">
      </div>
    </li>
    <li nag-input-element="lastName" data-id="last-name-wrapper">
      <label for="last-name">
        Last Name:
        <div nag-input-element-validation></div>
      </label>
      <div nag-extend-text="lastNameOptions"
           data-attributes="nag-validate-required;nag-validate-range-length::{min: 1, max: 10}"
           data-id="last-name"
           data-model="extendTextResettableObject"
           data-model-property="lastName"
           data-input-name="lastName">
      </div>
    </li>
    <li nag-input-element="middleName" data-id="middle-name-wrapper">
      <label for="last-name">
        Middle Name:
        <div nag-input-element-validation></div>
      </label>
      <div nag-extend-text="middleNameOptions"
           data-attributes="nag-validate-required;nag-validate-range-length::{min: 1, max: 10}"
           data-id="middle-name"
           data-model="extendTextResettableObject"
           data-model-property="middleName"
           data-input-name="middleName">
      </div>
    </li>
    <li nag-input-element="forthName" data-id="forth-name-wrapper">
      <label for="last-name">
        Forth Name:
        <div nag-input-element-validation></div>
      </label>
      <div nag-extend-text="forthNameOptions"
           data-attributes="nag-validate-required;nag-validate-range-length::{min: 1, max: 10}"
           data-id="forth-name"
           data-model="extendTextResettableObject"
           data-model-property="forthName"
           data-input-name="forthName">
      </div>
    </li>
    <li nag-input-element="firstNameTextarea" data-id="first-name-textarea-wrapper">
      <label for="first-name">
        First Name:
        <div nag-input-element-validation></div>
      </label>
      <div nag-extend-text="firstNameTextareaOptions"
           data-attributes="nag-validate-required;nag-validate-range-length::{min: 1, max: 10}"
           data-id="first-name-textarea"
           data-model="extendTextResettableObject"
           data-model-property="firstNameTextarea"
           data-type="textarea"
           data-input-name="firstNameTextarea">
      </div>
    </li>
    <li nag-input-element="lastNameTextarea" data-id="last-name-textarea-wrapper">
      <label for="last-name">
        Last Name:
        <div nag-input-element-validation></div>
      </label>
      <div nag-extend-text="lastNameTextareaOptions"
           data-attributes="nag-validate-required;nag-validate-range-length::{min: 1, max: 10}"
           data-id="last-name-textarea"
           data-model="extendTextResettableObject"
           data-model-property="lastNameTextarea"
           data-type="textarea"
           data-input-name="lastNameTextarea">
      </div>
    </li>
    <li nag-input-element="middleNameTextarea" data-id="middle-name-textarea-wrapper">
      <label for="last-name">
        Middle Name:
        <div nag-input-element-validation></div>
      </label>
      <div nag-extend-text="middleNameTextareaOptions"
           data-attributes="nag-validate-required;nag-validate-range-length::{min: 1, max: 10}"
           data-id="middle-name-textarea"
           data-model="extendTextResettableObject"
           data-model-property="middleNameTextarea"
           data-type="textarea"
           data-input-name="middleNameTextarea">
      </div>
    </li>
    <li nag-input-element="forthNameTextarea" data-id="forth-name-textarea-wrapper">
      <label for="last-name">
        Forth Name:
        <div nag-input-element-validation></div>
      </label>
      <div nag-extend-text="forthNameTextareaOptions"
           data-attributes="nag-validate-required;nag-validate-range-length::{min: 1, max: 10}"
           data-id="forth-name-textarea"
           data-model="extendTextResettableObject"
           data-model-property="forthNameTextarea"
           data-type="textarea"
           data-input-name="forthNameTextarea">
      </div>
    </li>
    <li>
      <button>Submit</button>
      <button ng-click="resetExtendTextResettableForm()" class="reset-form">Reset (with event)</button>
    </li>
  </ul>
</form>
<div class="object-model-display">{{ extendTextResettableObject }}</div>
