<header>Extend Text Reset Form</header>
<form name="extendTextResettable" nag-resettable-form>
  {{ $id }}
  <ul>
    <li>
      <label for="first-name">
        First Name:
        <div nag-extend-text="firstNameOptions"
             data-id="input"
             data-model="extendTextResettableObject"
             data-model-property="firstName">
        </div>
      </label>
    </li>
    <li>
      <label for="last-name">
        Last Name:
        <div nag-extend-text="lastNameOptions"
             data-type="textarea"
             data-id="textarea"
             data-model="extendTextResettableObject"
             data-model-property="lastName">
        </div>
      </label>
    </li>
    <li>
      <button>Submit</button>
      <button ng-click="resetExtendTextResettableForm()" class="reset-form">Reset (with event)</button>
    </li>
  </ul>
</form>
<div class="object-model-display">{{ extendTextResettableObject }}</div>