<form name="testForm" action="/home" method="get">
  <header>Empty Options</header>
  <div nag-extend-text="emptyOptions" data-id="empty-options">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Empty Options Auto Focus</header>
  <div nag-extend-text="emptyOptions" data-id="empty-options-auto-focus">
    <input type="text" class="display" nag-auto-focus />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Select On Focus</header>
  <div nag-extend-text="selectOnFocusOptions" data-id="select-on-focus">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Allow Submit On Enter</header>
  <div nag-extend-text="allowSubmitOnEnterOptions" data-id="allow-submit-on-enter">
    <input type="text" class="display" name="allowSubmitOnEnter" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Set Data</header>
  <div nag-extend-text="setDataOptions" data-id="set-data">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Test</header>
  <div nag-extend-text="options" data-id="test">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Tagging</header>
  <div nag-extend-text="taggingOptions" data-id="tagging">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Auto Complete</header>
  <div nag-extend-text="autoCompleteOptions" data-id="auto-complete">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Auto Complete Character Count</header>
  <div nag-extend-text="autoCompleteCharacterCountOptions" data-id="auto-complete-character-count">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Auto Complete Display Value</header>
  <div nag-extend-text="autoCompleteDisplayValueOptions" data-id="auto-complete-display-value">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Auto Complete Attribute Value</header>
  <div nag-extend-text="autoCompleteAttributeValueOptions" data-id="auto-complete-attribute-value">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Auto Complete No Free Form Text</header>
  <div nag-extend-text="autoCompleteNoFreeFormTextOptions" data-id="auto-complete-no-free-form-text">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Auto Complete Custom Response Parser</header>
  <div nag-extend-text="autoCompleteCustomResponseParserOptions" data-id="auto-complete-custom-response-parser">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Auto Complete Custom Variable Name</header>
  <div nag-extend-text="autoCompleteCustomVariableNameOptions" data-id="auto-complete-custom-variable-name">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Auto Complete Custom Variable Format</header>
  <div nag-extend-text="autoCompleteCustomVariableFormatOptions" data-id="auto-complete-custom-variable-format">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Auto Complete Select First Option</header>
  <div nag-extend-text="autoCompleteSelectFirstOptionOptions" data-id="auto-complete-select-first-option">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Auto Complete Select On Blur</header>
  <div nag-extend-text="autoCompleteSelectOnBlurOptions" data-id="auto-complete-select-on-blur">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <header>Auto Complete Allow Free Form Text</header>
  <div nag-extend-text="autoCompleteAllowFreeFormTextOptions" data-id="auto-complete-allow-free-form-text">
    <input type="text" class="display" />
    <input type="hidden" ng-model="test" nag-input />
  </div>
  <input type="submit" value="Test" />
</form>