@import "../../components/bourbon/app/assets/stylesheets/_bourbon";
@import "../../components/nucleus-angular-sass-framework/assets/styles/framework/_variables";
@import "../../components/nucleus-angular-sass-framework/assets/styles/framework";

body {
  height: 500px;
}

.extend-text,
.extend-text {

  &.search-query-auto-complete textarea {
    width: 900px;
  }

  input,
  textarea {
    width: 300px;
  }
}

.extend-text textarea.display {
  height: 28px;
}

